<!DOCTYPE html>
<html>
   <head>
      <title>Backbone without Route</title>
      
      <script src = "../static/JsLibrary/jquery-3.2.1.min.js"
         type = "text/javascript"></script>

      <script src = "../static/JsLibrary/underscore-min.js"
         type = "text/javascript"></script>

      <script src = "../static/JsLibrary/backbone-min.js"
         type = "text/javascript"></script>

       <script src = "../static/JS/model.js"
         type = "text/javascript"></script>   

      <script src = "../static/JS/view.js"
         type = "text/javascript"></script>

      <script src = "../static/JS/route.js"
         type = "text/javascript"></script>

   <!--    <script src = "~/../../public/JS/script.js"
         type = "text/javascript"></script> -->

   </head>
   
   <body>
        
        <input id="Button4" type="button" value="All" onclick="router.navigate('wines', {trigger: true});" />

         <div>
            <ul id = "containerList">

           </ul>
        </div>

   </body>
</html>