<!DOCTYPE html>
<html>
   <head>
      <title>Backbone without Route</title>
      
      <script src = "../static/JsLibrary/jquery-3.2.1.min.js"
         type = "text/javascript"></script>

      <script src = "../static/JsLibrary/underscore-min.js"
         type = "text/javascript"></script>

      <script src = "../static/JsLibrary/backbone-min.js"
         type = "text/javascript"></script>

       <link rel="stylesheet" href="../static/CSS/commonCss.css" type="text/css"> 

       <script src = "../static/JS/model.js"
         type = "text/javascript"></script>   

      <script src = "../static/JS/view.js"
         type = "text/javascript"></script>


        <script type = "text/javascript">
            $(function(){
              debugger;
              $("#addForm").hide();
              $("#resultList").hide();

            })

            function showAddForm()
            {
              debugger;
              $("#msg").text("");
              $("#addForm").show();
              $("#resultList").hide();
            }

            function showList()
            {
              debugger;
              $("#addForm").hide();
              $("#resultList").show();
            }

        </script>

      <script src = "../static/JS/route.js"
         type = "text/javascript"></script>
   </head>
   
   <body>
        
        <input id="Button4" type="button" value="All" onclick="showList(); router.navigate('wines', {trigger: true});" />

        <input id="Button5" type="button" value="Add" onclick="router.navigate('add', {trigger: true});"" />

         <div id="resultList">
            <ul style="list-style-type:none" id = "containerList">

           </ul>
        </div>

        <div id="addForm">
            <div id="msg"></div>
            <div>name : <input type="text" id="name"></input></div>
            <div>year : <input type="text" id="year"></input></div>
            <div>grapes : <input type="text" id="grapes"></input></div>
            <div>country : <input type="text" id="country"></input></div>
            <div>region : <input type="text" id="region"></input></div>
            <div>description : <input type="text" id="description"></input></div>
             <div><input id="Button6" type="button" value="Add" onclick="router.navigate('save', {trigger: true});" /></div>
    <div><input id="Button7" type="button" value="Back" onclick="showList();router.navigate('wines', {trigger: true});" />
             </div>
        </div>

   </body>
</html>